# MÃ³dulo povoar (python + SQL)

In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\mariana\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\mariana\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Note: you may need to restart the kernel to use updated packages.

In [50]:
import mysql
import mysql.connector
from mysql.connector import Error
import pandas as pd 
import mysql.connector as SQLC

In [51]:
from Bio import SeqIO
from Bio.Seq import Seq
from Bio.SeqRecord import SeqRecord
from Bio import SeqFeature

In [52]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [53]:
pw = '20221207'

connection = create_server_connection('geo.di.uminho.pt', 'bioinformatica', pw)

MySQL Database connection successful

In [54]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [55]:
pw = '20221207'
db = 'mmj'

connection_db = create_db_connection('geo.di.uminho.pt', 'bioinformatica', pw, db)

MySQL Database connection successful

In [56]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [57]:
DataBase = SQLC.connect(
    host = 'geo.di.uminho.pt',
    user = 'bioinformatica',
    password = '20221207',
        database = 'mmj')

Cursor = DataBase.cursor()

In [245]:
import re

fonte = open("Spyogenes.gb",'r')
org = fonte.read()
fonte.close()

In [246]:
def povoar_locus(org):
    org = SeqIO.read("Spyogenes.gb", "genbank")
    id_l = org.name
    bp = len(org)
    sql_locus = f"INSERT INTO locus (bp, id_l) VALUES('{bp}','{id_l}')"
    print(sql_locus)
    Cursor.execute(sql_locus)
    DataBase.commit()

In [247]:
povoar_locus(org)

INSERT INTO locus (bp, id_l) VALUES('1948','CDGQ01000079')

In [248]:
org = SeqIO.read("Spyogenes.gb", "genbank")
id_l = org.name
bp = len(org)

In [249]:
len_seq = len(org)

In [250]:
sql_sequencia = f"INSERT INTO sequencia (len_seq) VALUES ('{len_seq}')"

print(sql_sequencia)

Cursor.execute(sql_sequencia)

DataBase.commit()

INSERT INTO sequencia (len_seq) VALUES ('1948')

In [251]:
#features
tamanho = len(org.features)

CDS = [] 
for i in range(len(org.features)):
    if org.features[i].type=='CDS':
        CDS.append(i)
for k in CDS:
    print(org.features[k].location)
    print(len(CDS))

gene = [] 
for j in range(len(org.features)):
    if org.features[j].type=='gene':
        gene.append(j)
for a in gene:
    print(org.features[a].location)
    print(len(gene))

mobile_element = [] 
for f in range(len(org.features)):
    if org.features[f].type=='mobile_element':
        mobile_element.append(f)
for b in mobile_element:
    print(org.features[b].location)
    print(len(mobile_element))
    
fsource = [] 
for m in range(len(org.features)):
    if org.features[m].type=='source':
        fsource.append(m)
for a in fsource:
    print(org.features[a].location)
    print(len(fsource))

repeat = [] 
for m in range(len(org.features)):
    if org.features[m].type=='repeat_region':
        repeat.append(m)
for a in repeat:
    print(org.features[a].location)
    print(len(repeat))
    
misc = [] 
for m in range(len(org.features)):
    if org.features[m].type=='misc_feature':
        misc.append(m)
for a in misc:
    print(org.features[a].location)
    print(len(misc))

[0:1948](+)
1

In [252]:
sql_features = f"INSERT INTO features (tamanho, CDS, gene, mobile_element, misc, repeat_region, fsource) VALUES ('{tamanho}','{';'.join(str(c) for c in CDS)}','{';'.join(str(g) for g in gene)}','{';'.join(str(me) for me in mobile_element)}','{';'.join(str(mi) for mi in misc)}','{';'.join(str(r) for r in repeat)}','{';'.join(str(fs) for fs in fsource)}')"

print(sql_features)

Cursor.execute(sql_features)

DataBase.commit()

INSERT INTO features (tamanho, CDS, gene, mobile_element, misc, repeat_region, fsource) VALUES ('1','','','','','','0')

In [253]:
fonte = open("Spyogenes.gb",'r')
org = fonte.read()
fonte.close()
t = '' 
titulo = re.findall(r'TITLE\s+.*?(?=JOURNAL)', org, re.DOTALL)
if titulo:
    for title in titulo:
        m = re.match( r'TITLE\s+(.+)', title, re.DOTALL )
        t = t + re.sub(r'\s+', ' ', m.group(1) ) 
print(t)

Direct Submission

In [254]:
fonte = open("Spyogenes.gb",'r')
org = fonte.read()
fonte.close()
j = ''
jou = re.findall(r'JOURNAL\s+.*?(?=PUBMED|REFERENCE|FEATURES|COMMENT)', org, re.DOTALL)
if jou:
    for journal in jou:
        m = re.match( r'JOURNAL\s+(.+)', journal, re.DOTALL )
        j = j + re.sub(r'\s+', ' ', m.group(1) ) 
print(j)

Submitted (13-NOV-2014) IZLSLER, Sezione di Parma, Sezione di Parma, IZSLER, Strada Mercati 13/A, 43126, Italy

In [255]:
sql_reference = f"INSERT INTO reference (title, journal) VALUES ('{t}','{j}')"

print(sql_reference)

Cursor.execute(sql_reference)

DataBase.commit()

INSERT INTO reference (title, journal) VALUES ('Direct Submission ','Submitted (13-NOV-2014) IZLSLER, Sezione di Parma, Sezione di Parma, IZSLER, Strada Mercati 13/A, 43126, Italy ')

In [256]:
fonte = open("Spyogenes.gb",'r')
org = fonte.read()
fonte.close()
filiacao = ''
f = re.findall(r'AUTHORS\s+.*?(?=TITLE)', org, re.DOTALL)
if f:
    for auth in f:
        m = re.match( r'AUTHORS\s+(.+)', auth, re.DOTALL )
        filiacao = filiacao + re.sub(r'\s+', ' ', m.group(1))
print(filiacao)

Pongolini,Stefano., Casadei,Gabriele. and Scaltriti,Erika.

In [257]:
sql_autor = f"INSERT INTO autor (filiacao) VALUES ('{filiacao}')"

print(sql_autor)

Cursor.execute(sql_autor)

DataBase.commit()

INSERT INTO autor (filiacao) VALUES ('Pongolini,Stefano., Casadei,Gabriele. and Scaltriti,Erika. ')

In [258]:
#annotations
org = SeqIO.read("Spyogenes.gb", "genbank")

len_annotations = len(org.annotations) 
source = org.annotations["source"]
letter_annotations = org.letter_annotations
organism = org.annotations["organism"] 
taxonomy = org.annotations["taxonomy"] 
mol_type = org.annotations['molecule_type']
accessions = org.annotations['accessions'] 
keywords = org.annotations.keys()

In [259]:
sql_annotations = f"INSERT INTO annotations (keywords, accessions, mol_type, organism, letter_annotations, source, taxonomy, len_annotations) VALUES ('{';'.join(keywords)}', '{';'.join(accessions)}','{mol_type}','{organism}','{letter_annotations}', '{source}','{'; '.join(taxonomy)}', '{len_annotations}')"

print(sql_annotations)

Cursor.execute(sql_annotations)

DataBase.commit()

INSERT INTO annotations (keywords, accessions, mol_type, organism, letter_annotations, source, taxonomy, len_annotations) VALUES ('molecule_type;topology;data_file_division;date;accessions;sequence_version;keywords;source;organism;taxonomy;references', 'CDGQ01000079;CDGQ01000000','DNA','Streptococcus pyogenes serotype M18','{}', 'Streptococcus pyogenes serotype M18','Bacteria; Bacillota; Bacilli; Lactobacillales; Streptococcaceae; Streptococcus', '11')

In [260]:
import re
fonte = open("Spyogenes.gb",'r')
org = fonte.read()
fonte.close()

link_NCBI = ''
link = re.search(r'ACCESSION\s+[^\s]+', org)
if link:
    m = re.match(r'ACCESSION\s+([^\s]+)', link[0] )
    if m:
        id = m.group(1)
        link_NCBI = link_NCBI + "https://www.ncbi.nlm.nih.gov/nuccore/{}".format( id ) 
else:
    print( "PadrÃ£o nÃ£o encontrado" )

    
org = SeqIO.read("Spyogenes.gb", "genbank")

id = org.id

descricao = org.description
 
flag = False
nome = ""
fonte = open("Spyogenes.gb",'r')
for linha in fonte:   
    if re.search(r"^SOURCE", linha):
        s = re.match(r"SOURCE\s+(.+)", linha)
        if s:
            nome = s.group(1)
    if re.search(r"//", linha):
        flag = False  
fonte.close()
print(nome)

Streptococcus pyogenes serotype M18

In [261]:
import re

def url(item):
    urls = []
    url = "https://pubmed.ncbi.nlm.nih.gov//?term={}".format(item)
    urls.append(url)
    return urls

def validar(item):
    return re.match(r'[\d|a-z|A-Z]+(\_?[\d|a-z|A-Z]+)*', item)    

query = nome
try:
    
    if not validar(query):
        raise Exception
    else:   
        print(url(query))

except Exception:
    print(f'ERROR This is what you inserted:"{query}"')
    
link_pubmed = url(query)

['https://pubmed.ncbi.nlm.nih.gov//?term=Streptococcus pyogenes serotype M18']

In [262]:
sql_bacterias = f"INSERT INTO bacterias (id, link_NCBI, descricao, nome, link_pubmed) VALUES ('{id}','{link_NCBI}','{descricao}','{nome}','{';'.join(link_pubmed)}')"

print(sql_bacterias)

Cursor.execute(sql_bacterias)

DataBase.commit()

INSERT INTO bacterias (id, link_NCBI, descricao, nome, link_pubmed) VALUES ('CDGQ01000079.1','https://www.ncbi.nlm.nih.gov/nuccore/CDGQ01000079','Streptococcus pyogenes serotype M18 genome assembly M18GASBO5, contig M18GASBO5_82, whole genome shotgun sequence','Streptococcus pyogenes serotype M18','https://pubmed.ncbi.nlm.nih.gov//?term=Streptococcus pyogenes serotype M18')